@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  --primary-color: #c72727;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --link-color: #333;
  --sports-color: #f99500;
  --arts-color: #a66bbe;
  --tech-color: #009cff;
  --science-color: #3bd142;
  --food-color: #d1483b;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light-color);
}

main {
  width: 90%;
  margin: 0 auto;
}

.topic {
  color: #fff;
  font-size: 9px;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 10px;
}

.topic-sports {
  background-color: var(--sports-color);
}
.topic-arts {
  background-color: var(--arts-color);
}
.topic-tech {
  background-color: var(--tech-color);
}
.topic-food {
  background-color: var(--food-color);
}
.topic-science {
  background-color: var(--science-color);
}

/********************************* Articles **************************/
article img {
  width: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media (min-width: 600px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.articles > article {
  background: #fff;
  padding: 16px;
}

/********************************* Showcase **************************/
.showcase {
  color: #fff;
  padding: 32px;
  height: 40vh;
  background: url("./images/robot.jpg") center/cover;
}

@media (min-width: 600px) {
  .showcase p {
    width: 50%;
  }
}

.btn {
  border: none;
  color: #fff;
  padding: 8px 12px;
  background-color: var(--primary-color);
}

.btn:hover {
  opacity: 0.9;
}

/********************************* Navbar **************************/
.nav-container {
  background-color: #fff;
  padding: 18px;
}

/* this style centers the image within the anchor */
.nav-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .logo {
  width: 180px;
}

/* default style for mobile width */
.nav-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* style for larger widths */
@media (min-width: 600px) {
  .nav-container ul {
    flex-direction: row;
    justify-content: space-around;
  }
}

.nav-container li {
  font-weight: bold;
}

.nav-container a:hover {
  color: var(--primary-color);
}

/********************************* Footer **************************/

.footer-container {
  background-color: var(--dark-color);
  color: #fff;
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
}

@media (min-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer-container img {
  width: 150px;
}

.footer-container a {
  color: #fff;
}

.footer-container a:hover {
  color: red;
}

.footer-container input[type="email"] {
  padding: 8px;
  margin-bottom: 8px;
}
